<span style='color: #000' title='Frames'>   174</span><span style='color: #009' title='Memory'> 125184.00 KB</span><span style='color: #900' title='Time'>    180.16 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />